@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* { font-family: 'Noto Sans KR', sans-serif;}
/* flex Setting */
.flex { display:flex; flex:unset !important; }
.flex.d_col { flex-direction: column; }
.flex.j_start { justify-content:flex-start; }
.flex.j_end { justify-content:flex-end; }
.flex.j_center { justify-content:center; }
.flex.j_space { justify-content: space-between; }
.flex.j_stretch { justify-content: stretch; }
.flex.a_start { align-items: flex-start; }
.flex.a_center { align-items: center; }
.flex.a_end { align-items: flex-end; }
.flex.a_stretch { align-items: stretch; }
.flex.wrap { flex-wrap: wrap; }
.f_width { width:100%; }
.h_width { width:50%; }
.t_width { width:33.3333333%; }
.q_width { width:25%; }

.hide_input { position:absolute; left:-10000px; }

/* shadow preset */
.shadow1 { box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  }

/* fontsize preset */
.font_big_title { font-size:30px; }
.font_title { font-size:20px; }
.font_sub_title { font-size:17px; }
.font_text { font-size:15px; }
.font_small_text { font-size:13px; }

/* color preset */
.color_main { color:#19599d; }
.color_gray { color:#969696; }
.color_red { color:#ff0000; }
.back_white { background-color:#fff; }

/* background preset */
.background_gray { background-color:#F5F5F8; }

/* border */
.border_r { border-right:1px solid #ddd !important; }
.border_t { border-top:1px solid #ddd !important; }
.border_b { border-bottom:1px solid #ddd !important; }
.border_a { border:1px solid #ddd !important; }
.border_a_000 { border:1px solid #000 !important; }


/* layouts */
.global_wrap {display:flex; justify-content: center; align-items: flex-start; min-height:100vh; }
.global_login_wrap {background: #eff2f6; display:flex; justify-content: center; align-items: flex-start; min-height:100vh; }
.global_user_wrap {background: #eff2f6; display:flex; justify-content: center; align-items: flex-start; min-height:100vh; }
.user_size_wrap { min-height: 100vh;align-items: center;justify-content: center;width: 100%;max-width: 580px;background: #fff; }
.phone_size_wrap { width:100%; max-width:580px; background-color:#fff; min-height: 90vh; }
.full_height { min-height:90vh; }
/* form tag style */

.non-deco { text-decoration: none; color:#000 !important; }
.en_field { display:none !important; }

.outlined_btn_group button { border:1px solid #222!important; width:calc(20% - 8px); padding:5px 10px !important; border-radius: 5px !important; }
.outlined_btn_group button.active { background-color:#111 !important; color:#fff !important; }
.outlined_btn_group button.active:before { background-color:#111 !important; opacity: 1; color:#fff !important; }

/* margin */
.m_bootom_10 {margin-bottom: 10px;}
.m_top_10 {margin-top: 10px;}
.m_left_10 {margin-left: 10px;}
.m_right_10 {margin-right: 10px;}

/* login */
.mypageBg{background: #eff2f6;}
.content-center {display: flex; min-height: 100vh; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; padding: 1.25rem;}
.vCardLoginBg {width: 100%; background: #fff; border-radius: 10px; padding: 48px 16px 28px;}

/* 공통 */
.area_line {width: 100%; height: 14px; background: #f7f8fa; margin: 0 auto 30px;}

/* 관리자 헤더 공통 */
.host_head {background: #173bb3; position: relative; margin-bottom: 20px;}
.host_nik {margin: 60px 0 50px;}
.host_nik p {font-size: 24px; font-weight: 500; letter-spacing: -1px; color: #fff;}
.host_nik p span {font-weight: bold; color: #fff;}
.host_create>p {margin: 0; font-size: 18px; color: #fff; letter-spacing: -1px; font-weight: 500;}
.create_a {text-decoration: none; color: #fff!important; position: absolute; left: 40px; right: 40px; bottom: -30px;}
.create_btn {height: 60px; line-height: 60px; font-size: 22px; background: #4961e5; text-align: center;}
.create_btn p {font-size: 16px; margin: 0;}
.host_create h3 {color: #fff;}

/* 유저 헤더 공통 */
.user_padding {padding: 0 20px 40px;}
.user_nik {margin: 60px 0 50px;}
.user_nik p {font-size: 24px; font-weight: 500; letter-spacing: -1px;}
.user_nik p span {font-weight: 800; color: #28b487;}
.user_nik p span span {color: #4487fa;}
.sub_nav .v-slide-group__prev { display:none !important; }

/* 예약만들기 공통 */
.proceeding {margin-bottom: 20px;}
.sized_box_h {height: 10px;}
.titleform {flex-shrink: 0; display: flex; white-space: nowrap; text-align: center; border: 0px;  margin: 14px 0 20px; font-weight: bold;}
.titleform span {display: inline-block; padding-left: calc(0.3rem); padding-right: calc(1rem); color: #757575;}
.titleform::after {position: relative;  width: 100%; border-top: thin solid rgba(58, 53, 65, 0.12); top: 50%; content: ""; transform: translateY(50%);}

/* 예약현황 카드 */
.matching_card { margin-bottom: 20px; border-bottom: 1px solid #ddd;padding-bottom: 25px;}
.matching_list {display: flex;align-items: center; justify-content: space-between; align-content: center;}
.list_group {display: flex;align-items: center;}
.matching_state {width: 44px; height: 28px; line-height: 28px; background: #2196f3; text-align: center; margin-right: 10px; border-radius: 6px; font-size: 12px; color: #fff;}
.list_title {margin-bottom: 0!important; font-size: 17px; font-weight: 700;}
.btn_group {display: flex;align-items: center;}
.btn_group div {font-size: 14px; padding: 10px;}
.btn_group div:first-child {background: #333; cursor: pointer;}
.matching_inp {margin-top: 0!important;}

.matching_hidden {padding: 20px; margin-top: 20px; border: 1px solid #ddd; border-top: 4px solid #cbcbcb;}
.hidden_title {display: flex;justify-content: space-between;}
.hidden_title p {margin-bottom: 0!important; font-size: 13px; font-weight: 700; color: #173bb3;}
.hidden_table {margin: 4px 0 20px;}
.hidden_table table {width: 100%; font-size: 14px; text-align: left;}
.hidden_table table th {border-bottom: 1px solid #ddd; padding: 12px 4px;color: #626262; font-weight: 400;}
.hidden_table table td {border-bottom: 1px solid #ddd; padding: 12px 4px;}
.hidden_txtarea{width: 100%; padding: 20px; border: 1px solid #ddd;margin-top: 10px; font-size: 14px;}
.hidden_area{margin-top: 4px;}